@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nanum+Pen+Script&display=swap');
@font-face {
    font-family: 'neon';
    src: url('./NaverNanumSquareNeo/TTF/NanumSquareNeo-eHv.ttf') format('truetype');
}
@font-face {
    font-family: 'neon1';
    src: url('./NaverNanumSquareNeo/TTF/NanumSquareNeo-aLt.ttf') format('truetype');
}
#main_page {
    position: relative;;
    background-color: rgb(40, 40, 40);
    color: white;
    width:100%;
    height:100%;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}

.sns-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.sns {
    padding: 0px 10px;
}
#main_ {
    position: absolute;
    padding: 10px 0px;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 5px 5px 5px 5px white;
    width: 500px;
}
.main_container {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);

}
.main_child1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 1px;
    font-family: 'neon';
}
.main_child2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Nanum Pen Script', cursive;
}
.main_child3{
    text-align: center;
    margin-right: 50px;
    font-size: 30px;
    font-family: 'neon1';
}
nav a:hover {
    color : black;
    transition : 1s;
    text-decoration: underline;
}
